/.ipynb_checkpoints/covid_19-checkpoint.ipynb
/.ipynb_checkpoints/Untitled1-checkpoint.ipynb
/.ipynb_checkpoints/Untitled-checkpoint.ipynb
/COVID-19_Radiography_Dataset/
/tl_model.h5
/Untitled.ipynb
/Untitled1.ipynb
/keras_tuner/
/logs/
/models/
/my_dir/
